* html, body {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
} 
/* headder */
h1 {
font-size: 3rem;
color: white;
font-weight: normal;
text-align: center;
}
h3 {
    color: white;
    font-weight: normal;
    text-align: center;
}
#navigation{
    background-color: none;
}
.filterButtons {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: center;
    align-items: center;
}
.filterButtons input, label {
    margin: 0px 10px 0px 10px;
    color: white;

}
input[type=text] {
    display: block;
    color: black;
    padding: 5px;
}
button {
    height: 30px;
    padding: 0 10px;
    color: cadetblue;

}
/* main */
#filmWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 20px;
    padding: 0px;
}
.movie-list img{
    list-style-type: none;
    color: white;
    margin: 10px;
    border: solid 2px white;
    width: 300px; 
    height: 450px;
    object-fit: cover;
}
